<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="/homestay/layoutUser::head"></head>
<body>
<menu th:replace="/homestay/layoutUser::menu"></menu>
<div class="container" style="padding-top: 100px">
    <form action="#" th:action="@{/user/create-homestay}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="inputname">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="inputname" placeholder="Name homestay">
        </div>
        <div class="form-group">
            <label for="inputaddress">Address</label>
            <input type="text" th:field="*{address}" class="form-control" id="inputaddress"
                   placeholder="Apartment, studio, or floor, 1234 Main St">
        </div>
        <div class="form-group">
            <label for="selectProvince">Province </label>
            <select th:field="*{province}" class="custom-select form-control" id="selectProvince" required>
                <option class="form-control" value="">Open this select Province</option>
                <option class="form-control" th:each="province : ${provinces}" th:value="${province.id}"
                        th:text="${province.name}"></option>
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputbeds">Bedroom</label>
                <input type="number" th:field="*{bedroom}" class="form-control" id="inputbedroom">
            </div>
            <div class="form-group col-md-3">
                <label for="inputbeds">Beds</label>
                <input type="number" th:field="*{beds}" class="form-control" id="inputbeds">
            </div>
            <div class="form-group col-md-3">
                <label for="inputbaths">Baths</label>
                <input type="number" th:field="*{bath}" class="form-control" id="inputbaths">
            </div>
            <div class="form-group col-md-3">
                <label for="guest">Guest</label>
                <input type="number" th:field="*{guests}" class="form-control" id="guest">
            </div>
        </div>
        <div class="form-group">
            <label for="inputprice">Price</label>
            <div class="input-group">
                <input type="text" th:field="*{price}" class="form-control" id="inputprice">
                <div class="input-group-prepend">
                    <div class="input-group-text">VND</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputdepscription">Depscription</label>
            <input type="text" th:field="*{description}" class="form-control" id="inputdepscription">
        </div>
        <button type="submit" class="btn btn-primary">Create new homestay</button>
    </form>
</div>
<footer th:replace="/homestay/layoutUser::footer"></footer>
</body>
</html>
