<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="/homestay/layoutUser::head"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#"><img class="logo" src="/resource/image/Untitled2.png"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
            <div sec:authorize="isAuthenticated()">
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/user/createHomestay">
                                <div class="MenuItems">Add new homeStay</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">
                                <div class="MenuItems">Logout</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/detail/__${user.id}__}">
                                <div class="MenuItems" th:text="${user.name}"></div>
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container" style="padding-top: 100px">
    <div class="row">
        <th:block th:if="${message}">
            <form class="form-inline" th:action="@{/user/createHomestay}" method="get">
                <div class="alert"><h5 th:text="${message}"></h5></div>
                <button type="submit" class="btn btn-primary mb-3"> Click to create new homestay</button>
            </form>
        </th:block>
    </div>
    <div class="row">
        <th:block th:each="product:${products}">
            <div class="col-3">
                <a th:href="@{/user/detailHomestay/__${product.id}__}">
                    <div class="card border-success mb-3">
                        <div th:id="${'carouselExampleIndicators'+product.id}" class="card-img-top carousel slide"
                             data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li th:href="${'#carouselExampleIndicators'+product.id}" data-slide-to="0"></li>
                                <li th:href="${'#carouselExampleIndicators'+product.id}" data-slide-to="1"></li>
                                <li th:href="${'#carouselExampleIndicators'+product.id}" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item" th:if="${product.getImages().size()== 0}">
                                    <a th:href="@{/user/detailHomestay/__${product.id}__}">
                                        <img class="d-block" src="/resource/image/ImageDefault.jpg">
                                    </a>
                                </div>
                                <div class="carousel-item" th:each="im:${product.images}">
                                    <a th:href="@{/user/products/detail/__${product.id}__}">
                                        <img class="d-block w-100" th:src="@{/resource/image/__${im.name}__}">
                                    </a>
                                </div>
                            </div>
                            <a class="carousel-control-prev" th:href="${'#carouselExampleIndicators'+product.id}"
                               role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" th:href="${'#carouselExampleIndicators'+product.id}"
                               role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <a th:href="@{/user/detail/__${product.id}__}" style="text-decoration:none">
                            <div class="card-body text-success">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                                <p class="card-text"
                                   th:text="${'Form: &#8363;'+product.price+' per night'}">
                                <p class="card-text"
                                   th:text="${'At: '+product.address+' '+product.province.name}"></p>
                                </p>
                            </div>
                        </a>
                    </div>
                </a>
            </div>
        </th:block>
    </div>
</div>
<script>
    $("ol li").first().addClass("active");
    $(".carousel-inner").find(".carousel-item:first").addClass("active");
</script>
<div th:replace="/homestay/layoutUser::div2"></div>
<footer th:replace="/homestay/layoutUser::footer"></footer>
</body>
</html>
