<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/homestay/layoutUser::head"></head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="col-lg-4">
                <a class="navbar-brand" href="#"><img src="/resource/image/Untitled2.png"
                                                      style="height: 60px; width: 130px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div sec:authorize="isAuthenticated()">
                        <form class="form-inline my-2 my-lg-0">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/user/create-homestay">
                                        <div class="MenuItems">Add new homeStay</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/logout}">
                                        <div class="MenuItems">Logout</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/user/detail/__${user.id}__}">
                                        <div class="MenuItems" th:text="${user.name}"></div>
                                    </a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-top: 100px">
        <form th:action="@{/user/manager}">
            <label>Name:</label>
            <input type="text" name="name"/>

            <label>Province:</label>
            <select name="province">
                <option th:each="p:${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
            </select>
            <input type="submit" value="Search"/>
        </form>
    </div>
</div>
<div th:replace="layout::div1"></div>
<div th:replace="/homestay/layoutUser::div2"></div>
<footer th:replace="/homestay/layoutUser::footer"></footer>
</body>
</html>
