<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="/homestay/layoutUser::head"></head>
<body class="bodyuser">
<menu th:replace="/homestay/layoutUser::menu"></menu>
<div class="container" style="margin-top: 80px">
    <div class="row">
        <div class="col-12">
            <h2>Where do we go?</h2>
        </div>
    </div>
    <div class="row" style="padding-bottom: 30px">
        <div class="col-5">
            <form action="/products">
                <select name="province" class="custom-select" style="width: 200px">
                    <option th:each="province:${provinces}" th:value="${province.id}"
                            th:text="${province.name}"></option>
                </select>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layout::div1" style="padding-top: 80px"></div>
<footer th:replace="/homestay/layoutUser::footer"></footer>
</body>
</html>