<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div>
    <menu th:replace="layout :: menu"></menu>
</div>
<div id="page" style="padding-top: 100px">
    <div class="container">
        <div class="row" th:if="${product.images.isEmpty()}">
            <h3>This home no have any image</h3>
        </div>
        <div class="row" th:unless="${product.images.isEmpty()}">
            <th:block th:each="im:${product.images}">
                <div class="col-lg-2 col-sm-4 col-md-3">
                    <div class="card-group">
                        <div class="card demonstrations">
                            <a th:href="@{/resource/image/__${im.name}__}" class="fresco" data-fresco-group="example">
                                <img class="card-img-top" th:src="@{/resource/image/__${im.name}__}"
                                     height="110px" alt="Card image cap">
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-top: 50px">
        <div class="col-md-7">
            <h2 style="font-family: 'Times New Roman', sans-serif">Luxury Gold Coast Hinterland Villa</h2>
            <p th:text="${product.province.name}"></p>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>
