<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div class="row">
    <menu th:replace="layout :: menu"></menu>
</div>
<div class="container">
    <div class="row" style="padding-top: 100px">
        <form>
            <label>Name:</label>
            <input type="text" name="name"/>

            <label>Province:</label>
            <select name="province">
                <option th:each="p:${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
            </select>

            <select name="bedroom">
                <option selected value="0">Bedroom...</option>
                <option value="1">1 bedroom</option>
                <option value="2">2 bedroom</option>
                <option value="3">3 bedroom</option>
                <option value="4">4 bedroom</option>
                <option value="5">5 bedroom</option>
                <option value="6">6 bedroom</option>
            </select>

            <select name="beds">
                <option selected value="0">Beds...</option>
                <option value="1">1 Beds</option>
                <option value="2">2 Beds</option>
                <option value="3">3 Beds</option>
                <option value="4">4 Beds</option>
                <option value="5">5 Beds</option>
                <option value="6">6 Beds</option>
            </select>

            <select name="guests">
                <option selected value="0">Guests...</option>
                <option value="1">1 Guests</option>
                <option value="2">2 Guests</option>
                <option value="3">3 Guests</option>
                <option value="4">4 Guests</option>
                <option value="5">5 Guests</option>
                <option value="7">6 Guests</option>
                <option value="8">6 Guests</option>
                <option value="9">6 Guests</option>
                <option value="10">6 Guests</option>
            </select>

            <input type="submit" value="Search"/>
        </form>
    </div>
</div>
<div th:replace="layout::div1"></div>
<footer th:replace="layout::footer"></footer>
</body>
</html>
